################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Training-MentorAssignments
/Employee-API
/Employee-API-DatabaseFirst
/CRUDWebAPI/obj/Debug/net8.0
/WebAPIWithLINQ/obj/Debug/net8.0/WebAPIWithLINQ.AssemblyInfoInputs.cache
/PaginationWebAPI/obj/Debug/net8.0/PaginationWebAPI.AssemblyInfoInputs.cache
/PaginationWebAPI/obj/Debug/net8.0/PaginationWebAPI.AssemblyInfo.cs
/Training-MentorAssignments.sln
/.gitignore
/ExceptionalHandling/obj/Debug/net8.0/ExceptionalHandling.AssemblyInfo.cs
/ExceptionalHandling/obj/Debug/net8.0/ExceptionalHandling.AssemblyInfoInputs.cache
/Generics/obj/Debug/net8.0/Generics.AssemblyInfoInputs.cache
/Generics/obj/Debug/net8.0/Generics.AssemblyInfo.cs
/GeographicDataAPI/bin/Debug/net8.0/GeographicDataAPI.dll
/GeographicDataAPI/bin/Debug/net8.0/GeographicDataAPI.pdb
/GeographicDataAPI/bin/Debug/net8.0/GeographicDataAPI.exe
/GeographicDataAPI/Controllers/CountriesController.cs
/GeographicDataAPI/obj/Debug/net8.0/ref/GeographicDataAPI.dll
/GeographicDataAPI/obj/Debug/net8.0/refint/GeographicDataAPI.dll
/GeographicDataAPI/obj/Debug/net8.0/GeographicDataAPI.AssemblyInfo.cs
/GeographicDataAPI/obj/Debug/net8.0/apphost.exe
/GeographicDataAPI/obj/Debug/net8.0/GeographicDataAPI.AssemblyInfoInputs.cache
/GeographicDataAPI/obj/Debug/net8.0/GeographicDataAPI.pdb
/GeographicDataAPI/obj/Debug/net8.0/GeographicDataAPI.dll
/GeographicDataAPI/obj/Debug/net8.0/GeographicDataAPI.sourcelink.json
/Inheritance/obj/Debug/net8.0/Inheritance.AssemblyInfo.cs
/Inheritance/obj/Debug/net8.0/Inheritance.AssemblyInfoInputs.cache
/WebAPIWithLINQ/obj/Debug/net8.0/WebAPIWithLINQ.AssemblyInfo.cs
/PaginationUsingDS&CB/obj/Debug/net8.0/PaginationUsingADO.AssemblyInfo.cs
/PaginationUsingDS&CB/obj/Debug/net8.0/PaginationUsingADO.AssemblyInfoInputs.cache
